@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.hero-section {
    min-height: 90vh; /* Full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F7FA;
}

.caro-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Optional: Center the text horizontally */
}

.caro-div {
    text-align: left;
    margin-left: 11rem;
    margin-right: 2rem;
}

.caro-button {
    background-color: #4CAF4F;
    padding: 0.8rem 2.2rem;
    border-radius: 0;
    border-color: transparent;
}

.caro-heading {
    font-size: 4rem;
    font-weight: 600;
}

.caro-text {
    font-weight: 400;
    font-size: 16px;
}

.highlight {
    color: #4CAF4F;
}

@media (max-width: 991px) {
    .caro-div {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .caro-heading {
        font-size: 2.5rem;
    }

    .caro-button {
        width: 100%;
    }
}
